@import '~react-md/src/scss/react-md';
$md-primary-color: $md-teal-800;
$md-secondary-color: $md-teal-a-200;
$md-tertiary-color: $md-teal-500;

.main-container,
.darker-background {
    background-color: $md-tertiary-color;
}

a:link {
    color: $md-secondary-color;
    text-decoration: none;
}
